@import "../../assets/scss/base.scss";

.player {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  height: 32px;
  padding-right: 20px;
  border-radius: 16px;
  background-color: #3053d6;
  z-index: 3;

  .button {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px 11px;

    &:hover {
      cursor: pointer;
      background-color: darken(#ffffff, 7%);
    }
  }
  .title {
    margin-left: 10px;

    span {
      color: #ffffff;
      font-family: $poppins-semi-bold;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .status {
    margin-left: 11px;

    .statusImg {
      width: 7px;
      height: 7px;
      background-color: #fd4b51;
      border-radius: 50%;
      display: inline-block;
    }
    .statusLabel {
      color: #ffffff;
      font-family: $poppins-semi-bold;
      font-size: 9px;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 4px;
    }
  }
}
