@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

// colors
$no-color: transparent;
$white: white;
$blue-primary: #395ee5; 

// sizes
$desktop: 1440px;
$tablet: 1440px;
$phone: 1440px;
$min-width: 100px; 

// fonts
$poppins: ('Poppins', sans-serif);
$poppins-semi-bold: ('Poppins Semi Bold', sans-serif);